numpy==1.23.5
pandas
matplotlib
xgboost
scikit-learn==1.5.2
lightgbm
dash
dask[dataframe]
progressbar2
ipykernel
catboost==1.2.5
streamlit
mrmr-selection
optuna
optuna.integration
joblib
shap
progress
ipywidgets
plotly
nbformat
umap-learn
seaborn
kaleido==0.2.1
openpyxl
psycopg2
imblearn