numpy==1.23.5
pandas
matplotlib
xgboost
scikit-learn
lightgbm
dash
dask
progressbar2
ipykernel
catboost==1.2.5
streamlit
mrmr-selection
optuna
optuna.integration
joblib
shap
progress
ipywidgets
plotly
nbformat
umap-learn
seaborn
kaleido
openpyxl
psycopg2
imblearn